.footer {
    position: fixed;
    right: 2%;
    transform: translate(-50%);
    bottom: 0;
}

.rules {
    background-color: transparent;
    border-radius: 5px;
    border: 2px solid white;
    padding: 5px 10px;
    font-size: larger;
    color: white;
}