.container {
    padding: 2rem;
}

.main {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.icon {
    padding: 1rem;
    margin: 5px;
    border-radius: 10%;
    cursor: pointer;
}

.icon:hover {
    background-color: grey;
}

.circle {
    display: block;
    position: absolute;
    height: 30rem;
    width: 30rem;
    background: transparent;
    border-radius: 51%;
    text-align: center;
    line-height: 100px;
    border: 1rem solid hsl(215, 37%, 14%);
}

.degZero {
    transform: rotate(1deg) translate(350px) rotate(-30deg);
}

.degFortyFive {
    transform: rotate(400deg) translate(380px) rotate(0deg);
}

.degnighty {
    transform: rotate(91deg) translate(251px) rotate(-91deg);
}

.degOneThirtyFive {
    transform: rotate(136deg) translate(-30px) rotate(-176deg);
}

.degOneEighty {
    transform: rotate(181deg) translate(251px) rotate(-181deg);
}

.degTwoTwentyFive {
    transform: rotate(165deg) translate(280px) rotate(241deg);
}

.degTwoSeventy {
    transform: rotate(266deg) translate(460px) rotate(20deg)
}

.deg-threefifteen {
    transform: rotate(316deg) translate(251px) rotate(-316deg);
}

.scissors {
    /* color: linear-gradient(hsl(39, 89%, 49%), hsl(40, 84%, 53%)) */
    border: 1rem solid hsl(39, 89%, 49%);
    padding: 1rem;
    margin: 5px;
    width: 130px;
    height: 130px;
    border-radius: 50%;
    cursor: pointer;
    background-color: white;
}

.paper {
    /* color: linear-gradient( hsl(230, 89%, 62%), hsl(230, 89%, 65%)) */
    border: 1rem solid hsl(230, 89%, 62%);
    padding: 1rem;
    margin: 5px;
    width: 130px;
    height: 130px;
    border-radius: 50%;
    cursor: pointer;
    background-color: white;
}

.rock {
    /* color: linear-gradient(hsl(349, 71%, 52%), hsl(349, 70%, 56%)) */
    border: 1rem solid hsl(349, 71%, 52%);
    padding: 1rem;
    margin: 5px;
    width: 130px;
    height: 130px;
    border-radius: 50%;
    cursor: pointer;
    background-color: white;
}

.lizard {
    /* color: linear-gradient(hsl(261, 73%, 60%), hsl(261, 72%, 63%)) */
    border: 1rem solid hsl(261, 73%, 60%);
    padding: 1rem;
    margin: 5px;
    width: 130px;
    height: 130px;
    border-radius: 50%;
    cursor: pointer;
    background-color: white;
}

.spock {
    /* color: linear-gradient(hsl(189, 59%, 53%), hsl(189, 58%, 57%)) */
    border: 1rem solid hsl(189, 59%, 53%);
    padding: 1rem;
    margin: 5px;
    width: 130px;
    height: 130px;
    border-radius: 50%;
    cursor: pointer;
    background-color: white;
}