.modalContainer {
    position: absolute;
    top: 20%;
    left: 35%;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modalBox {
    color: blue;
    background-color: #fff;
    border-radius: 8px;
    padding: 30px;
}

.modalHeader {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

.modalClose {
    border-color: transparent;
    background-color: transparent;
}

.modalTitle {
    color: #8a90ac;
}